# Twitter to App.net Crossposter
# Copyright (c) 2013 Donald Burr
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Twitter credentials
# Set up a new application at https://dev.twitter.com/ and fill in the
# credentials that you are given here.  See README for detailed instructions.
[twitter]
consumer_key = YOUR-TWITTER-CONSUMER-KEY
consumer_secret = YOUR-TWITTER-CONSUMER-SECRET
access_token_key = YOUR-TWITTER-ACCESS-TOKEN-KEY
access_token_secret = YOUR-TWITTER-ACCESS-TOKEN-SECRET
user_to_mirror = YOUR-TWITTER-USERNAME    # whose posts you want to mirror

# App.net credentials
# Set up a new application at https://account.app.net/developer/apps/ and
# fill in the credentials that you are given here.  See README for detailed
# instructions.
[appdotnet]
client_id = YOUR-APP.NET-CLIENT-ID
client_secret = YOUR-APP.NET-CLIENT-SECRET
callback_url = YOUR-APP.NET-CALLBACK-URL
access_token = YOUR-APP.NET-USER-TOKEN

# Other options
#
# Note:
# "Mentions" are tweets where a person is @mentioned at the start of the
# tweet.
# Example: "@dburr Sounds great, how about dinner at 6 at The Rib Shack?" 
# "Indirect mentions" are tweets that have an @mention in them, but that
# does not appear at the start of the tweet.
# Example: "Had a great lunch with @dburr at the Pizza Palace."
[other]
poll_interval = 600             # how often to check for new posts, in seconds
mirror_mentions = True
mirror_indirect_mentions = True
mirror_retweets = True
